/************************************************

    GLOBAL

*************************************************/
body {
    font-family: 'Roboto', sans-serif;
    width: 425px;
    margin: 0px;
    position: relative;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #333;
}
/************************************************

    HEADER

*************************************************/
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: -8px 2px 14px rgb(0 0 0 / 73%);
    padding: 0px 20px;
}

.logo img {
    width: 150px;
    margin: 20px auto;
}   

.gps {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d9d9d9b1;
}

/************************************************

    MAIN

*************************************************/
.loading {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: absolute;
    background-color: white;
    z-index: -1;
    animation: load 3s;
}

.loading i {
    font-size: 120px;
    margin-top: -430%;
    transform: rotate(360deg);
    transition: transform 0.5s ease-in-out;
    animation: load 3s;
}

@keyframes load {
    from {
        transform: rotate(0deg);
        z-index: 999;
        animation-duration: 5s;
    }
    to {
        z-index: -1;
    }
}

.text-main {
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: #F2F2F2;
    padding: 30px 20px 30px 20px;
    flex-wrap: wrap;
}


h1, p {
    width: 308px;
    margin-top: 0px;
}

.button {
    margin: 0px;
    margin-top: 15px;
    width: 220px;
    height: 50px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: linear-gradient(170deg, #FF79DA, 50%, #9356DC);
    box-shadow: 1px 1px 10px rgba(0,0,0,0.3);
}

.button:hover,
.button:active {
    background: linear-gradient(170deg, #FF79DA, 70%, #9356DC);
    box-shadow: 1px 1px 10px rgba(0,0,0,0.8);
    -webkit-transition: background 500ms;
    -webkit-transition: box-shadow 500ms;
}

/************************************************

    NAV

*************************************************/

.fonction {
    padding: 0px 20px 40px;
}

.fonction h2 {
    margin-bottom: 30px;
    margin-top: 0px;
}

.list-fonc {
    max-width: 100%;
    margin: 0px;
    padding: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.list-fonc li {
    margin-bottom: 30px;
    max-width: 100%;
    height: 70px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F2F2F2;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.3);
}

.list-fonc li a {
    border-radius: 20px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.list-fonc li a:hover,
.list-fonc li a:active {
    background-color: #F4EDFE;
}

.number {
    width: 30px;
    height: 30px;
    display: flex;
    border-radius: 15px;
    margin-left: -15px;
    margin-right: 20px;
    align-items: center;
    justify-content: center;
    background-color: #9356DC;
}

.number span {
    color: white;
}

.list-fonc li span i {
    margin-right: 20px;
}

.list-fonc li a:hover span i,
.list-fonc li a:active span i {
    color: #9356DC;
}

.resto {
    display: flex;
    flex-wrap: wrap;
    background-color: #F2F2F2;
    padding: 40px 20px;
}

.resto h2 {
    margin: 0px;
}

.list-resto {
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0% ;
}

.list-resto li{
    min-width: 10%;
    display: block;
    margin: 20px 0px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.3);
}

nav .list-resto li:hover,
nav .list-resto li:active {
    background-color: #F4EDFE;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.6);
}

.list-resto li a {
    position: relative;
}

.new {
    position: absolute;
    background-color: #99E2D0;
    color: #2D896A;
    margin-left: 265px;
    margin-top: 30px;
    width: 100px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}

.list-resto li .img{
    width: 100%;
    height: 230px;
    overflow: hidden;
    display: flex;
    align-items: center;
    border-radius: 15px 15px 0px 0px;
}

.list-resto li .img img{
    max-width: 100%;
}

.list-resto li .desc{
    padding: 10px;
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-resto li .desc strong{
    display:block;
}

.list-resto li .desc span{
    display: block;
    margin: 5px 0;
}

/************************************************

    FOOTER

*************************************************/
footer {
    background-color: rgba(0, 0, 0, 0.813);
    padding: 20px 0px 0px 20px;
    display: flex;
    flex-direction: column;
}
.logo-2 h4 {
    margin: 0%;
    margin-bottom: 20px;
    font-family: 'Shrikhand', cursive;
    color: white;
}

footer ul {
    padding: 0%;
    margin: 0px 0px 20px 0px;
}

footer ul li {
    margin-bottom: 10px;
}

footer ul li a {
    color: white;
}

footer ul li a:hover {
    color: #FF79DA;
}
/************************************************

    HEADER LIST

*************************************************/
.banner {
    overflow: hidden;
    height: 280px;
    display: flex;
    align-items: center;
}

.banner img {
    max-width: 100%;
}

/************************************************

    MAIN LISTE DES PLATS

*************************************************/
.title {
    font-size: 1rem;
    padding-bottom: 5px;
}

.sous-ligne {
    height: 2px;
    width: 40px;
    margin-top: 7px;
    background-color: #99E2D0;
}

.list {
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0px 20px;
    border-radius: 40px 40px 0px 0px;
    position: relative;
    margin-top: -40px;
}

.list-entries {
    animation: apparition 0.8s ease-out;
}
@keyframes apparition {
    from {
        opacity: 0;
        transform: translateY(-60px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.list-dishes {
    animation: apparition 0.8s ease-out;
    -webkit-animation-delay: 0.5s;
}
@keyframes apparition {
    from {
        opacity: 0;
        transform: translateY(-60px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.list-desserts, .command{
    animation: apparition 0.8s ease-out;
    -webkit-animation-delay: 1s;
}
@keyframes apparition {
    from {
        opacity: 0;
        transform: translateY(-60px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.title-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px
}

.heart {
    width: 32px;
    height: 32px;
    stroke:#333;
    stroke-width: 2px;
    fill:#FFF;
    transition:fill 1s ease-in-out 0s, stroke 1s ease-in-out 0s;
    cursor:pointer;
}

.heart:hover {
    stroke:url(#MyGradient);
    stroke-width: 2px;
    fill:url(#MyGradient);
}

#MyGradient, #MyGradient1, #MyGradient2, #MyGradient3 {
    transform: rotate(90deg);
}

#heart-gradient, #heart-gradient1, #heart-gradient2, #heart-gradient3 {
    opacity: 0.0;
    display: inline-block;
    -webkit-transition: opacity .4s ease;
    -moz-transition: opacity .4s ease;
    -o-transition: opacity .4s ease;
    transition: opacity .4s ease;
}
#heart-gradient:hover {
    opacity: 1.0;
}
#heart-gradient1:hover {
    opacity: 1.0;
}
#heart-gradient2:hover {
    opacity: 1.0;
}
#heart-gradient3:hover {
    opacity: 1.0;
}

.title-menu h2 {
    font-family: 'Shrikhand', cursive;
}

.list-entries, .list-dishes, .list-desserts {
    max-width: 100%;
    margin-top: 25px;
    padding: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.list-choice li {
    margin-bottom: 30px;
    max-width: 100%;
    height: 70px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.3);
}

.list-choice li a {
    border-radius: 20px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}

.list-choice .desc {
    padding: 10px;
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.list-choice li .desc .text-desc {
    width: 100%;
}

.list-choice li .desc strong {
    display:block;
}

.list-choice li .desc span{
    display: block;
    margin: 5px 0;
}

.list-choice li a:hover .desc span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 90%;
}

.price {
    display: flex;
    align-self: end;
    padding-right: 20px;
    padding-bottom: 4px;
}

.list-choice li a:hover .price {
    margin-left: -34px;
    margin-top: 20px;
    padding: 0px;
    align-self: unset;
}

.like {
    background-color: #99E2D0;
    min-width: 70px;
    height: 100%;
    border-radius: 0px 20px 20px 0px;
    margin-right: -1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: margin 1s;
    -webkit-transition: margin 500ms;
}

.list-choice li a:hover .like {
    margin-right: 0px;
    min-width: 70px;
}


.like i {
    font-size: 20px;
    color: white;
    transform: rotate(360deg);
    transition: transform 0.5s ease-in-out;
    transition-delay: 0.4s;
}

.list-choice li a:hover i {
    transform: scale(1);
    transform: rotate(0deg);
}

.command {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 60px;
}

.command .button {
    margin: 0%;
}

@media screen and (min-width: 768px) {
    body {
        width: 100%;
    }

    .loading i {
        margin-top: -250%;
    }

    main {
        display: flex;
        justify-content: center;
        background-color: #F2F2F2;
    }

    .annexe {
        display: block;
    }

    .text-main {
        width: 310px;
    }

    .list-fonc {
        padding-left: 100px;
    }

    .list-fonc li {
        max-width: 85%;
    }

    .number {
        margin-right: 140px;
    }

    .new {
        margin-left: 600px;
    }
}

@media screen and (min-width: 1000px) {

    .loading i {
        margin-top: -70%;
    }

    .fonction {
        width: 1200px;
        margin: auto;
        background-color: white;
    }

    .list-fonc {
        padding-left: 10px;
        flex-direction: row;
        justify-content: space-between;
    }

    .list-fonc li {
        max-width: none;
        width: 350px;
        margin-bottom: 40px;
        height: 90px;
    }

    .number {
        margin-right: 60px;
    }

    .resto {
        flex-direction: column;
    }

    .resto h2 {
        width: 1200px;
        margin: auto;
    }

    .list-resto {
        width: 1200px;
        margin: auto;
    }

    .list-resto li {
        width: 700px;
        margin: 40px auto;
    }

    .new {
        margin-left: 570px;
    }

    footer .logo-2 {
        display: flex;
        justify-content: center;
    }

    footer ul {
        display: flex;
        justify-content: space-around;
    }

    /******************************************
    
                ANNEXE

    ******************************************/
    .banner {
        height: 600px;
    }

    .title-menu {
        justify-content: space-evenly;
    }

    .list-choice {
        width: 500px;
        margin: auto;
    }

    .list-entries, .list-dishes, .list-desserts {
        width: 500px;
    }
}